
.infinite-sliding-individual-panel{
    width: auto;
    height: 100%;

    position: absolute;
    top: 0px;
    /* left: 0px; */

    transition: linear 150000ms;
    transform: translateX(0px);
}

.infinite-sliding-individual-panel-image{
    width: auto;
    height: 100%;
}

.panel-seperator{
    width: 3px;
    height: 100vh;
    z-index: 100;

    background-color: antiquewhite;
}

/*******************************************/

.testing-panel-for-buttons{
    position: absolute;
    top: 0;
    right: 0;
    background-color: aqua;
    z-index: 2000;
}

.test-panel{
    width: 50px;
    height: 300px;

    background-color: aquamarine;
}

